<<<<<<< HEAD
footer{
    Background-color:#00FF00;
    height:60px;
    width:100%;
    position: absolute;
    bottom:0;
    text-align:center;
    line-height:60px
=======
footer {
    background-color: #00FF00;
    position: absolute;
    bottom: 0;
    height: 60px;
    width: 100%;
    text-align: center;
    line-height:60px;
>>>>>>> 3a70eb6c563c2b5d7551d2229b96599b72c8cdca
}
