<<<<<<< HEAD
body{
	margin: 0;
    padding: 0;
    color: #484848;
    font-size: 14px;
  font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
 }

.container{
=======
body {
    margin: 0;
    padding: 0;
    color: #484848;
    font-size: 14px;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.container {
>>>>>>> 3a70eb6c563c2b5d7551d2229b96599b72c8cdca
    margin: auto;
    max-width: 1000px;
    margin-top: 30px;
    margin-bottom: 30px;
<<<<<<< HEAD
=======
    align-items: center;
>>>>>>> 3a70eb6c563c2b5d7551d2229b96599b72c8cdca
}
